sqlite3
v15
*.dll
*.xml
*.targets
*.pdb
bin
*.cache
Debug
*.nupkg
*.xdt
*.transform
*.p7s
*.props
*.exe
VBCSCompiler.exe.config
Roslyn45
csc.exe.config
*.rsp
csi.exe.config
RoslynLatest
net45
*.ps1
*.md
