
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<video controls="controls">
    <source src="~/Content/Videos/Meesaya%20Murukku%20-%20Official%20Title%20Song%20_%20Hiphop%20Thamizha%20_%20Sundar%20C%20_%20Avni.mp4" type="video/mp4" />
</video>*@

<iframe width="560" height="315" src="https://www.youtube.com/embed/pTxaSH5Ll8I" frameborder="0" 
 allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<iframe width="1200" height="1200" src="~/Content/Videos/Meesaya%20Murukku%20-%20Official%20Title%20Song%20_%20Hiphop%20Thamizha%20_%20Sundar%20C%20_%20Avni.mp4"
frameborder="0"
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

